
<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="https://imgs.search.brave.com/xJuDdx8--6q14XRNjHwwRGuKoC3AeoLtAR1rNrDVTZQ/rs:fit:534:601:1/g:ce/aHR0cHM6Ly93d3cu/Y2xrZXIuY29tL2Ns/aXBhcnRzLzQvdC9Y/L2cvNS9sL2JsdWUt/cGhhcm1hY3ktbG9n/by1oaS5wbmc"/>
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        Pharmacy Location
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
